php_flag register_globals on
RewriteEngine on
#AuthUserFile "/usr/local/www/alanadiara/htdocs/.htpasswd"
#AuthType Basic
#AuthName "Alanadiara.com"
#require valid-user
php_flag display_errors off

RewriteCond %{HTTP_USER_AGENT} "Mozilla\/5\.0 \(compatible\; MJ12bot\/v1\.4\.3\; http\:\/\/www\.majestic12\.co\.uk\/bot\.php\?\+\)" [NC]
RewriteRule ^.*$ – [F,L]

RewriteRule ^index.htm index.php [L]
RewriteRule ^hesap_numaralarimiz.htm hesap_numaralari.php [L]
RewriteRule ^sikca_sorulan_sorular.htm sss.php [L]
RewriteRule ^iletisim.htm contact.php [L]

RewriteRule ^sepetim.htm basket.php [L]

RewriteRule ^uye_girisi.htm login.php [L]
RewriteRule ^sifremi_unuttum.htm forget_passworld.php [L]

RewriteRule ^kategoriler.htm kategori.php [L]

RewriteRule ^hesabim.htm account_management.php [L]

RewriteRule ^detayli_arama.htm search_result.php [L]
RewriteRule ^premium-alan-adlari.htm search_result.php [L]
RewriteRule ^populer-alan-adlari.htm search_result.php [L]
RewriteRule ^arama.htm search_result.php [L]
RewriteRule ^(.*)\-m(.*)-(.*)\.htm domain_info.php?teklif=evet&domain=$1&fiyat=$2&referer=$3 [L]
RewriteRule ^(.*)\.teklif domain_info.php?teklif=evet&domain=$1 [L]
RewriteRule ^(.*)\.htm domain_info.php?domain=$1 [L]
#RewriteRule yonlen.php.*)$ login.php?from=?$1 [L]
RewriteRule yonlen.php(.*)$ login.php$1 [L]